{% extends "bootstrap/base.html" %}

{% block navbar %}
    {{ nav.navbar.render() }}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Deep Learning Demos: ChatBot</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="content">
            <div>
                <h1>ChatBot</h1>
            </div>
            <div>
                TBD: form for ChatBot
            </div>
        
        </div>
    </body>
</html>
{% endblock %}