{% extends "bootstrap/base.html" %}

{% block navbar %}
    {{ nav.navbar.render() }}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Demos</title>
        <style>
            body {
                background: gray;
            }

            .content {
                margin: auto;
                background: white;
                max-width: 800px;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <div>
                <h1>Demos</h1>
            </div>
            <div>
                <p>Use link to navigate page.</p>
            </div>
        </div>

    </body>
</html>
{% endblock %}
